body {
    background-color: rgb(249, 249, 244);
}

#cssControls {
    padding: 5px;
}

#center, #left, #right, #header {
    background-color: rgb(242, 242, 237);
    
    border-style: solid;
    border-width: 2px;
}

#header {
    margin-bottom: 5px;
}

#left, #right, #center {
    margin: 5px;
}

#center {
    padding: 5px;
}

#github, #gitlab {
    list-style-image: url('icons/github.svg');
}

#name {
    list-style-image: url('icons/name.svg');
}

#number {
    list-style-image:  url('icons/phone.svg');
}

#address {
    list-style-image: url('icons/compass.svg');
}

#email {
    list-style-image: url('icons/email.svg');
}

div.accHolder {
    background-color: white;
}

div.accHeader {
    background-color: rgb(232, 232, 225);
}

div.accHeader:hover {
    background-color: white;
}

div.accHolder {
    border: solid;
    border-width: 0px 2px 2px 0px;
    border-radius: 5px;
}
